html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-size: 16px;
  color: #38444f;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

* {
  box-sizing: border-box;
}
